---
import MAuthPublic from "@mindfulauth/astro/layouts/MAuthPublic.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import {
    MAuthForm,
    MAuthEmailInput,
    MAuthTurnstile,
    MAuthSubmitButton,
    MAuthMessage,
} from "@mindfulauth/astro/components";
---
<MAuthPublic title="Sign In with Magic Link" scripts={['MAuthTurnstileInit', 'MAuthMagicLoginScript']}>
<BaseLayout>
    <div class="auth-container">
        <div class="auth-card">
            <h1>Sign In with Magic Link</h1>
            <p>We'll send you a magic link to sign in instantly.</p>

            <MAuthForm formName="magic-login">
                <MAuthEmailInput placeholder="your@email.com" />
                <MAuthTurnstile />
                <MAuthSubmitButton label="Send Magic Link" />
                <MAuthMessage />
            </MAuthForm>

            <div class="auth-links">
                <a href="/login">Sign In with Password</a>
                <a href="/magic-register">Create an Account</a>
            </div>
        </div>
    </div>
</BaseLayout>
</MAuthPublic>