---
import MAuthPublic from "@mindfulauth/astro/layouts/MAuthPublic.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import {
    MAuthForm,
    MAuthPasswordInput,
    MAuthTwoFACodeInput,
    MAuthTurnstile,
    MAuthSubmitButton,
    MAuthMessage,
} from "@mindfulauth/astro/components";
---
<MAuthPublic title="Reset Password" scripts={['MAuthTurnstileInit', 'MAuthResetPasswordScript']}>
<BaseLayout>
    <div class="auth-container">
        <div class="auth-card">
            <h1>Set a New Password</h1>
            <p>Create a new, strong password for your account.</p>

            <MAuthForm formName="reset-password">
                <MAuthPasswordInput label="New Password" fieldName="new-password" />
                <MAuthPasswordInput label="Confirm Password" fieldName="confirm-password" />
                <MAuthTwoFACodeInput name="twofa-code-reset-password" label="2FA Code" />
                <MAuthTurnstile />
                <MAuthSubmitButton label="Reset Password" />
                <MAuthMessage />
            </MAuthForm>
        </div>
    </div>
</BaseLayout>
</MAuthPublic>